body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(241, 241, 241);
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Itim','cursive';
  }
  .App {
    text-align: center;
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding-top: 60px;
  }
nav{
    max-width: 1440px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    position: fixed;
    top: 0px;
    background-color: white;
    backdrop-filter: blur(10px) ;
    z-index: 55;
}

nav::before{
    position: absolute;
    top:  0;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgb(3, 3, 3);
    box-shadow: 1px 1px 1px rgb(47, 128, 210);
}
nav::after{
    position: absolute;
    bottom:  0;
    left: 0;
    content: '';
    width: 100%;
    height: 5px;
    background-color: rgb(29, 177, 251);
    box-shadow: 0px 1px 2px #08f;
}
button{
    cursor: pointer;
}
.logo{
    font-size: 35px;
    color:black;
}
nav ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
nav ul a{
    font-size: 25px;
    color: rgb(121, 5, 163);
}
.p{
    width: 50%;
    height: 500px;
    background-color: red;
    margin: 20px 0px;
}

/* sec1 */

.sec1{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(20, 17, 17, 0.971),rgba(128, 128, 128, 0)),url(./img/sec1bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    padding: 0px 10%;
    text-align: center;

}
.title{
    font-size: 55px;
    color: white;
    text-shadow: 1px 2px 2px black;
    margin: 20px 0px;
}
.titleparagrf{
    font-size: 35px;
    color: white;
    text-shadow: 1px 2px 2px black;
    text-align: center;
}
.blacktitle{
    font-size: 35px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
/* sec2 */


.sec2 {
    width: 100%;
    min-height: 100vh;
    --border-size: 3px;
    --border-angle: 0turn;
    background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 4s linear infinite;
            animation: bg-spin 4s linear infinite;
   padding: 60px 10%;
  

  }
  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
.uyincards{
    width: 100%;
    height: auto;
}

.uyinheader{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20% 60%;
    align-items: center;
}
.uyinheader h1{
    font-size: 25px;
    color: white;
}
.uyinheader select{
    width: max-content;
    font-size: 25px;
    color: rgb(6, 6, 6);
    background-color: white  ;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.profilcard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilcard .title{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profilcard .title img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}
.uyinheader .vaqtcard{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.vaqtpos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.soat{
    width: 80px;
    height: 50px;
}
.secund{
    color: white;
}
.uyinbody{
    width: 100%;
    height: 450px;
    background-color: rgb(246, 252, 255);
    position: relative;
    padding: 20px;
   position: relative;
}
.uyinbody::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 5px;
    height: 100%;
    background-color: rgb(29, 177, 251);
    box-shadow: -2px -3px 5px #08f;
}
.savol{
    width: 100%;
    height: 150px;
    overflow-y: auto;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 0px 2px #08f;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.variant{
    width: 100%;
    height: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.variant button{
    border: 1px solid rgb(177, 176, 176);
    border-radius: 5px;
    background-color: white;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    padding: 0px 6px;
}
.variant button:hover{
    background-color: rgba(0, 136, 255, 0.587);
}
.variant button.ok{
    background-color: green;
}
.variant button.err{
    background-color: red;
}
.uyinbodyfooter{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}
.next{
    padding: 10px 20px;
    background-color: #08f;
    border-radius: 5px;
    border: none;
    font-size: 25px;
}
.clear{
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
    border: none;
    font-size: 25px;
}
.startcard{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start{
    padding: 10px 20px;
    background-color: #08f;
    font-size: 35px;
    border-radius: 5px;
    border: none;
    animation: startbtn 1.5s ease-in-out infinite;
}
@keyframes startbtn {
    0%{transform: scalex(1) translateY(0px); }
    50%{transform: scalex(1.1) translateY(-5px);}
    100%{transform: scalex(1.05) translateY(0px);}
}
/* uyinchicards */
.uyinchilarcards, .uyinchilarcards2{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 15px;
    padding: 50px 0px;
}
.ustozlarcard{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 15px;
    padding: 50px 0px;
}
.uyinchicard h3{
    font-size: 25px;
}
.uyinchicard{
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
}
.uyinchicard .imgcard {
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.uyinchicard .imgcard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
}
.uyinchicard .imgcard:hover img{
    transform: scale(1.1);
}
.satrs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.satrs img{
    width: 30px;
    height: 30px;
}

/* uyinbodymodal */
.uyinmodal{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(rgb(150, 128, 3),rgba(247, 210, 3, 0.505)); */
    backdrop-filter:blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -55;
    opacity: 0;
}
.uyinmodal.active{
    z-index: 55;
    opacity: 1;
}
.uyinmodalcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uyinmodalcard img{
    width: 150px;
    height: 120px;
    margin-bottom: 20px;
}
.uyinmodalcard button{
    padding: 10px 30px;
    border: 3px solid green;
    box-shadow: #08f 0px 4px 10px;
}
.modalyacunprofil{
    display: flex;
    align-items: center;
    gap: 10px;
}
.modalyacunprofil img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.modalyacunprofil .title{
    font-size: 35px;
    color:black;
}
.errimg{
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;
}

/* footer */
footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 5%;
    justify-content: space-between;
    background-color: #213;
}
footer ul{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 15px;
}
footer ul a{
    color: grey;
    font-size: 25px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social svg{
    width: 50px;
    height: 50px;
}

.instagram{
    color: rgb(232, 6, 229);
}
.telegram{
    color: rgb(6, 89, 232);
}
.facebook{
    color: rgb(20, 10, 212);
}
.github{
    color: rgb(7, 7, 7);
    background-color: white;
    border-radius: 50%;
    height: 90%;
    overflow: hidden;
}
.github svg{
    width: 100%;
}